// Profile card
.accountProfileCard-lbN7n- {
  background: var(--md-sys-color-surface);
  border: 1px solid var(--md-sys-color-outline);

  .avatar-3mTjvZ {
    border-color: var(--md-sys-color-surface); 
  }

  .background-3d_SjE, .fieldList-in8WkP {
    background: var(--md-sys-color-background);
    .field-21XZwa {
      h5, span {
        color: var(--md-sys-color-on-surface);
      }
    }
  }
}