@use "../../../../core/material" as *;

.control-1fl03- .container-2nx-BQ {
    background: var(--md-sys-color-surface-variant) !important;
    border: 2px solid var(--md-sys-color-outline);
    width: 52px;
    height: 32px;
    border-radius: 40px;
    position: relative;
    transition: .2s ease;
    #uid_1832 {
        bottom: -3px;
        right: calc(-7px / 2.5);
    }

    &:active {
        .slider-32CRPX {
            top: -11px;
            left: -4px !important;
            width: 52px;
            height: 52px;
        }
    }

    &::before {
        content: "";
        border-radius: 24px;
        position: absolute;
        top: -10px;
        left: -11px;
        width: 48px;
        height: 48px;
        background: transparent;
        opacity: 8%;
        transition: .2s ease;
    }

    &:hover::before {
        background: var(--md-sys-color-on-surface);
    }
    &:active::before {
        background: var(--md-sys-color-on-surface);
        opacity: 12%;
    }

    &.checked-25WXMf::before {
        left: 11px;
    }
    &.checked-25WXMf:hover::before {
        background: var(--md-sys-color-primary);
    }
    &.checked-25WXMf:active::before {
        background: var(--md-sys-color-primary);
        opacity: 12%;
    }

    .slider-32CRPX {
        transition: .2s ease;
        left: 3px !important;
        top: 4px;


        rect {
            transition: .2s ease;
            fill: var(--md-sys-color-outline);
            x: 0;
            y: 0;
            height: 16px;
            width: 16px;
            rx: 32px;

        }

        svg {
            display: none;
        }
    }

    &.checked-25WXMf {
        background: var(--md-sys-color-primary) !important;
        border-color: var(--md-sys-color-primary);

        &:active {
            .slider-32CRPX {
                left: 16px !important;
                top: -11px;
                width: 38px;
                height: 38px;
            }
        }

        .slider-32CRPX {
            left: 22px !important;
            top: -4px;
            height: 26px;
            width: 26px;


            rect {
                fill: var(--md-sys-color-on-primary);
                x: 0;
                y: 0;
                rx: 32px;
                height: 24px;
                width: 24px;
            }
        }
    }
}

.theme-dark .control-1fl03- .container-2nx-BQ {
    &.disabled-3ipGAF {
        cursor: not-allowed;
        background: rgba($md-sys-color-on-surface-dark, 12%) !important;
        border-color: rgba($md-sys-color-on-surface-dark, 12%);

        &:not(.checked-25WXMf) .slider-32CRPX rect {
            fill: rgba($md-sys-color-on-surface-dark, 38%);
        }
    }
}