
@use "../../../../core/material" as *;
@use "../../../utilities/keyframes" as *;

@forward "./embeds/embeds";
@forward "./channels/channels";
@forward "./call/call";



.chatContent-3KubbW {
    animation: slide-left 0.4s ease;
}

.chat-2ZfjoI, .container-ZMc96U.themed-Hp1KC_, .wrapper-3HVHpV, .wrapper-15CKyy.cozy-3hKWhq {
    background: var(--md-sys-color-background);
}

.divider-IqmEqJ{
    border-color: var(--md-sys-color-surface-variant);
    justify-content: flex-end;
    .content-3spvdd {
        color: var(--md-sys-color-surface-variant);
        background: var(--md-sys-color-background);
    }

    &[id="---new-messages-bar"] {
        border-color: var(--md-sys-color-error-container);
        .unreadPill-3nEWYM {
            padding: 0 4px 0 4px;
            border-radius: 4px;
            background: var(--md-sys-color-error-container);
            color: var(--md-sys-color-on-error-container);
            svg {
                display: none;
            }
        }
    }
}
.theme-dark {
    .title-31SJ6t::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($md-sys-color-primary-dark, 5%);
    }
}
.theme-light {
    .title-31SJ6t::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($md-sys-color-primary-light, 5%);
    }
}