@use "../../../../material" as *;

.theme-dark {
    .embedFull-1HGV2S {
        background: rgba($md-sys-color-overlay, .05);
        box-shadow: 0 0 2px #151515,
                    0 5px 5px #151515;
    }
}
.theme-light {
    .embedFull-1HGV2S {
        background: $md-sys-color-surface-light;
        box-shadow: 0 0 2px #dbdbdb,
                    0 5px 5px #dbdbdb;
    }
}