@use "../../../material" as *;

.button-f2h6uQ {

  position: relative;
  height: 40px;
  padding: 0 24px 0 24px;
  border-radius: 20px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    transition: all .2s ease;
  }

  @include button;

  &.colorBrand-I6CyqQ.lookFilled-yCfaCM {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }

  &.colorPrimary-2AuQVo.lookFilled-yCfaCM {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }

  &.lookOutlined-3yKVGo.colorRed-rQXKgM {
    background: var(--md-sys-color-surface);
    border: 1px solid var(--md-sys-color-error);
    color: var(--md-sys-color-error);
  }

  &.disableButton-3BR0Vj.lookFilled-yCfaCM {
    background: var(--md-sys-color-error);
    color: var(--md-sys-color-on-error);
  }

  &.removeButton-v6eolJ.lookLink-15mFoz.colorPrimary-2AuQVo {
    color: var(--md-sys-color-error);
  }
}


.theme-dark {
  .button-f2h6uQ {
    &.colorBrand-I6CyqQ.lookFilled-yCfaCM {
      &:hover::before {
        background: rgba($md-sys-color-on-primary-dark, 8%);
      }

      &:active::before {
        background: rgba($md-sys-color-on-primary-dark, 12%);
      }
    }

    &.colorPrimary-2AuQVo.lookFilled-yCfaCM {
      &:hover::before {
        background: rgba($md-sys-color-on-secondary-container-dark, 8%);
      }

      &:active::before {
        background: rgba($md-sys-color-on-secondary-container-dark, 12%);
      }
    }

    &.disableButton-3BR0Vj.lookFilled-yCfaCM {
      &:hover::before {
        background: rgba($md-sys-color-on-error-dark, 8%);
      }

      &:active::before {
        background: rgba($md-sys-color-on-error-dark, 12%);
      }
    }

    &.lookOutlined-3yKVGo.colorRed-rQXKgM {
      &:hover {
        background: none;

        &::before {
          background: rgba($md-sys-color-error-dark, 8%);
        }
      }

      &:active {
        background: none;

        &::before {
          background: rgba($md-sys-color-error-dark, 12%);
        }
      }
    }

    &.removeButton-v6eolJ.lookLink-15mFoz.colorPrimary-2AuQVo {
      &:hover {
        .contents-3ca1mk {
          background: none;
        }

        &::before {
          background-image: none;
          background: rgba($md-sys-color-error-dark, 8%);
        }
      }

      &:active {
        .contents-3ca1mk {
          background: none;
        }

        &::before {
          background-image: none;
          background: rgba($md-sys-color-error-dark, 12%);
        }
      }
    }
  }
}
.theme-light {
  .button-f2h6uQ {
    &.colorBrand-I6CyqQ.lookFilled-yCfaCM {
      &:hover::before {
        background: rgba($md-sys-color-on-primary-light, 8%);
      }

      &:active::before {
        background: rgba($md-sys-color-on-primary-light, 12%);
      }
    }

    &.colorPrimary-2AuQVo.lookFilled-yCfaCM {
      &:hover::before {
        background: rgba($md-sys-color-on-secondary-container-light, 8%);
      }

      &:active::before {
        background: rgba($md-sys-color-on-secondary-container-light, 12%);
      }
    }

    &.disableButton-3BR0Vj.lookFilled-yCfaCM {
      &:hover::before {
        background: rgba($md-sys-color-on-error-light, 8%);
      }

      &:active::before {
        background: rgba($md-sys-color-on-error-light, 12%);
      }
    }

    &.lookOutlined-3yKVGo.colorRed-rQXKgM {
      &:hover {
        background: none;

        &::before {
          background: rgba($md-sys-color-error-light, 8%);
        }
      }

      &:active {
        background: none;

        &::before {
          background: rgba($md-sys-color-error-light, 12%);
        }
      }
    }

    &.removeButton-v6eolJ.lookLink-15mFoz.colorPrimary-2AuQVo {
      &:hover {
        .contents-3ca1mk {
          background: none;
        }

        &::before {
          background-image: none;
          background: rgba($md-sys-color-error-light, 8%);
        }
      }

      &:active {
        .contents-3ca1mk {
          background: none;
        }

        &::before {
          background-image: none;
          background: rgba($md-sys-color-error-light, 12%);
        }
      }
    }
  }
}