@forward "./pages/pages";
@forward "./sidepanel";

.closeButton-PCZcma:hover {
    background-color: var(--md-sys-color-primary-container);
}

.contentRegionShownSidebar-fHXkEg {
    justify-content: center;
}
.contentColumn-1C7as6, .customColumn-2n-oKU {
    max-width: 1040px;
}